
    {{ pagination.info }}
            {{ pagination.links }}
                <table class="table table-hover">
                    <tbody>
                    {% for dessert in desserts %}
                        <tr>
                            <td>{{ loop.index + (page - 1) * per_page }}</td>
                            <td>{{ dessert }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {{ pagination.links }}
         
            
    