<ul class="collapsible">
    <div class="container">
        <img src="{{recipe.img_url}}" class="recipe-img" style="width:90%" alt="...">
    </div>
	
	<h1> {{recipe.recipe_name}}</h1>
	<br>
    <div class="d-block d-sm-none">
        <a href="whatsapp://send?text=Check out this recipe from Just Desserts!" data-action="share/whatsapp/share" class="whatsapp-link"><i class="fa fa-whatsapp whatsapp"></i>Share via Whatsapp</a>
    </div>
    
    <!--<i class="fab fa-whatsapp"></i>-->
    <br>
	<h3>{{recipe.recipe_description}}</h3>
	Recipe submitted by <em>{{recipe.author}}</em>
        {% if recipe.author == session['username'] %}
    <div class="col-xs-12 col-md-6">        
		<a href="{{ url_for('edit_recipe', dessert_id=recipe._id)}}" class="waves-effect waves-light btn btn-small-b"><i class="fa fa-edit"></i>Edit</a>
    </div>   
        {% endif %}    
</ul>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h4 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-spoon"><label for="icon_prefix"> Equipment Needed</label></i>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{recipe.equipment_needed}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-list"><label for="icon_prefix"> Ingredients</label></i>
        </button>
      </h4>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        {{recipe.ingredients}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fa fa-wrench"><label for="icon_prefix"> Method</label></i>
        </button>
      </h4>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        {{recipe.method}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <i class="fa fa-exclamation-triangle"><label for="icon_prefix"> Dietary Information</label></i>
        </button>
      </h4>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
            <div class="col-xs-12 col-md-4">
				<span>
                    {% if recipe.contains_nuts %}
                        <p>Contains nuts</p>
                    {% else %}
                        <p>Nut free</p>
                    {% endif %}
				</span>
            </div>
			<div class="col-xs-12 col-md-4">
				<span>
                {% if recipe.gluten_free %}
                    <p>Contains gluten</p>
                {% else %}
                    <p>Gluten free</p>
                {% endif %}
                </span>
            </div>
			<div class="col-xs-12 col-md-4">
				<span>
                {% if recipe.vegan_friendly %}
                    <p>Suitable for vegans</p>
                {% else %}
                    <p>Not suitable for vegans</p>
                {% endif %}
                </span>            
            </div>
      </div>
    </div>
  </div>
</div>