body {
    background-color: #FFFAF0; /*Seashell*/
}

/*Page Corner Fold Effect*/
.page-effect {
    position: relative;
    width: 30%;
    padding: 1em 1.5em;
    margin: 2em auto;
    color: #fff;
    background-color: #FAEBD7; /*Antique White (Darker than Seashell)*/
    overflow: hidden;
}

.page-effect:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #fff #FAEBD7 #FAEBD8;
    background: #FAEBD7;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* For Firefox*/
    display: block; width: 0;
}

/*Button Styling*/
.btn-small-b {
    line-height: 24px;
    margin 5px 5px;
    padding: 0 0.5;
    background-color: blue;
}

.btn-small-r {
    line-height: 24px;
    margin 5px 5px;
    padding: 0 0.5;
    background-color: red;
}
