body {
    background-color: #FFFAF0; /*Seashell*/
}

h1 {
    font-family: Molle;
}
.navbar {
    background-color: #2A1911; /*Same brown as image in masthead*/
    /* background-color: #FFFAF0; */
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-family: Molle;
    font-size: 2.5em;
}

/*Page Corner Fold Effect*/
.page-effect {
    position: relative;
    width: 100%;
    padding: .5em 1em;
    margin: 1em auto;
    color: #000000; 
    background-color: #FAEBD7; /*Antique White (Darker than Seashell)*/
    overflow: hidden;
}

.page-effect:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 12px 12px 0;
    border-style: solid;
    border-color: #fff #fff #FAEBD7 #FAEBD8;
    background: #FAEBD7;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* For Firefox*/
    display: block; width: 0;
}

/*Icons Styling*/
.fa {
    font-size: 1.3em;
}

.fa label {
    font-family: Molle;
}

.whatsapp {
    color: #075e54;
    font-size: 2em;
}
.whatsapp-link {
    text-decoration: none;
    color: #075e54;
}

/*Button Styling*/
.btn-small-b {
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5;
    background-color: blue;
    color: white !important;
}

.btn-small-r {
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5;
    background-color: red !important;
    color: white !important;
}

.btn-link {
    color: #2A1911;
}

.home-button {
    margin-left: auto;
    margin-right: auto;
    background-color: #2A1911 !important;
    color: #fafafa !important;
}

.add-another{
    font-size: 14px;
}

.delete-ingredient{
    font-size: 14px;
}

/*Switch Styling*/
 .switch {
     padding: 5px;
     margin: 5px;
     margin-top: 25px;
 }

.dietary-info {
    margin-left: 3em;
    font-family: Molle;
}



/*Recipe Card Styling*/
.card img {
    height: 300px;
}

.card {
    margin-left: 5px;
    margin-right: 5px;
}

.recipe-container {
    margin-left: 5px;
    margin-right: 5px;
}

.card-header {
    font-family: Molle;
}

/*Masthead Styling*/

.homepage-header {
    font-family: 'Molle', cursive;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}

.masthead-image {
    background-image: url('../img/chocolate-homepage.jpg') !important; 
    background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent;
    height: 95vh;
    width: 100vw;
}
.jumbotron {
    background-color: transparent !important;
    color: #FAEBD8 !important;
}

.fourofour-image {
    background-image: url('../img/chef-thinking.jpg') !important; 
    background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent;
    height: 95vh;
    width: 100vw !important;
}

.fourofour-image .jumbotron {
    text-align: center !important;
}

.full-width {
    width: 100vw;
}
/*Equipment Page*/
.equipment-img {
    max-width: 100%;
    height: auto;
}

.equipment-header {
    font-size: 3.5em !important;
    color: #2A1911 !important;
    font-family: Molle;
}
/*Pagination Settings - copied from https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_pagination_active_round*/

.center {
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: #fafafa;
    background-color: #2A1911;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
/*Image Buffers*/
.image-buffer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-height: 57.5vh;
}

/*Media Queries*/
/* Large desktop */

@media (min-width: 1200px) {
    .submit-recipe-button {
        position: absolute;
        left: auto;
        right: auto;
        bottom: 5px;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 1199px) {
    .submit-recipe-button {
        position: absolute;
        left: auto;
        right: auto;
        bottom: 5px;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .equipment-img {
        width: 99vw;
        height: 40vh;
    }
}

/* Landscape phones and down */

@media (max-width: 480px) {
    .masthead-image {
        background-image: url('../img/chocolate-homepage-phone.jpg') !important;   
    }

    .fa {
        font-size: 1em;
    }

    .fa label {
        font-family: Molle;
        font-size: 1em;
    }

    .container {
        padding-right: 5px;
        padding-left: 0px;
        margin-right: 5px;
        margin-left: -8px;      
    }

    .btn-link {
        font-size: .75em;
    }

    .equipment-header {
        font-size: 3em !important;    
    }

    .equipment-img {
        width: 99vw;
        height: 40vh;
    }
}


/* Smaller Phones */

@media (min-width: 250px) and (max-width: 321px) {
    
    .masthead-image {
        background-image: url('../img/chocolate-homepage-phone.jpg') !important;   
    }

    .fa {
        font-size: 1em;
    }

    .fa label {
        font-family: Molle;
        font-size: 1em;
    }    

    .container {
        padding-right: 5px;
        padding-left: 0px;
        margin-right: 5px;
        margin-left: -8px;      
    }

    .btn-link {
        font-size: .75em;
    }

    .equipment-header {
        font-size: 3em !important;    
    }

    .equipment-img {
        width: 99vw;
        height: 40vh;
    }
}