{% extends 'base.html' %} {% block content %}
  <!-- Page Content -->
  <div class="fourofour-image"> 
        <header class="jumbotron" style="background-color: transparent">
            <h1>Uh-oh<i class="fa fa-utensil-spoon"></i></h1>
            <p class="lead">I've no idea what happened there. Let's <br>
            play it safe and go home</p>             
            <a href="{{ url_for('homepage_index') }}" class="btn btn-danger btn-lg">Take Me Home</a>
        </header>
    </div>

  {% endblock %}