{% extends 'base.html' %} {% block content %}

<h3>Add A Recipe</h3>
<div class="container-fluid">
	<form action="{{ url_for('insert_recipe') }}" method="POST" class="col-xs-12">
		<div class="row">
			<div class="form col-xs-12">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<i class="fa fa-tag"><label class="col-sm-2 col-form-label" for="icon_prefix">Recipe Name</label></i>
                            <div class="row">
                                <input id="recipe_name" name="recipe_name" type="text" autocomplete="off" placeholder="Recipe Name">
                            </div>							
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
							<div class="form-group">
								<i class="fa fa-paragraph"><label class="col-sm-2 col-form-label">Recipe Description</label></i>
                                <div class="row">
                                    <textarea class="col-xs-12 col-md-6" id="recipe_description" name="recipe_description" type="text" autocomplete="off" placeholder="Describe your recipe here..."></textarea>
                                </div>
							</div>
					</div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
							    <i class="fa fa-pencil"><label class="col-sm-2 col-form-label" for="icon_prefix">Author</label></i>
                                <div class="row">
                                    <input id="author" name="author" type="text">	
                                </div>							    				
						</div>
                    </div>                        
				</div>
                <!--Second Row-->
                <div class="row justify-content-md-center">
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <div class="form-group">
                            <i class="fa fa-spoon"><label class="col-sm-6 col-form-label" for="icon_prefix">Equipment</label></i>             						
						    <div class="input-field col-xs-12">
							    <div class="row">
                                    <textarea class="form-control col-xs-10" id="equipment_needed" rows="3" name="equipment_needed" type="text" placeholder="Example - weighing scales, whisk, loaf tin, mixing bowl" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-5 offset-md-2">
						<!--Ingredients-->
                        <div class="form-group">
                            <i class="fa fa-shopping-basket"><label class="col-sm-2 col-form-label" for="icon_prefix">Ingredients</label></i>
						    <div class="input-field col-xs-12">							
                                <div class="row">
                                    <textarea class="form-control col-xs-10" name="ingredients" rows="3" id="ingredients" placeholder="List ingredients here (including measurements). Example - 200g of plain flour"></textarea>
                                </div>									
						    </div>
                        </div>													
					</div>
                </div>
                <!--Method Row--> 							
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
								<div class="add-ingredient col-xs-12 col-md-12">									
									<div class="col-xs-12 col-md-6">
										<div class="input-field">
											<i class="fa fa-wrench"><label class="col-sm-2 col-form-label" for="icon_prefix">Method</label></i>
											<textarea class="form-control col-xs-12" id="method" name="method" type="text" placeholder="Explain method for baking your dessert here"></textarea>
										</div>
									</div>
								</div>
						</div>
                        <div class="row">
                            <div class="row">
                                <span class="dietary-info">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <label class="col-sm-2 col-form-label">Dietary Information</label>
                                </span>
                            </div>
                            <div class="row">
                                <div class="switch form-check form-check-inline">									
                                    <input class="form-check-input" id="contains_nuts" name="contains_nuts" type="checkbox">
                                     <label class="form-check-label" for="contains_nuts">
                                        Does this recipe contain nuts?
                                    </label>
								</div>
								<div class="switch form-check form-check-inline">									
                                    <input class="form-check-input" id="gluten_free" name="gluten_free" type="checkbox">                                        
                                    <label class="form-check-label" for="gluten_free">
                                        Does this recipe contain gluten?
                                    </label>
								</div>
								<div class="switch form-check form-check-inline">									
                                    <input class="form-check-input" id="vegan_friendly" name="vegan_friendly" type="checkbox">
                                    <label class="form-check-label" for="vegan_friendly">
                                        Is this recipe vegan-friendly?
                                    </label>
								</div>
                            </div>					
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="input-field col s12 m12">
									<i class="fa fa-photo"><label class="col-sm-2 col-form-label" for="icon_prefix">Image URL</label></i>
									<input id="img_url" name="img_url" type="text" placeholder="Paste url for image here">										
								</div>
							</div>
						</div>
						<div class="row">
							<i class="fa fa-check-circle"></i>
                            <button class="btn-success" type="button submit">Submit Recipe</button>
						</div>							
					</div>
				</div>
			</div>
        </div>
	</form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

{% endblock %}