{% extends 'base.html' %} {% block content %}
<h1 class="mt-5">Just Desserts</h1>
<h3>Add A Recipe</h3>
<div class="container-fluid">
	<form action="{{ url_for('insert_recipe') }}" method="POST" class="col-xs-12">
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-xs-12 col-md-4 col-sm-2 gray'>
					<div class="form-group">
						<i class="fa fa-tag"><label class="col-sm-2 col-form-label" for="icon_prefix">Recipe Name</label></i>
						<div class="row">
							<input id="recipe_name" name="recipe_name" type="text" autocomplete="off" placeholder="Recipe Name">
                        </div>
					</div>
				</div>
				<div class='col-xs-12 col-md-4 col-sm-2 gray-l'>
					<div class="form-group">
						<i class="fa fa-paragraph"><label class="col-sm-2 col-form-label">Recipe Description</label></i>
						<div class="row">
							<textarea class="col-xs-12 col-md-6" id="recipe_description" name="recipe_description" type="text" autocomplete="off" placeholder="Describe your recipe here..."></textarea>
						</div>
					</div>
				</div>
				<div class='col-xs-12 col-md-4 col-sm-2 gray'>
					<div class="form-group">
						<i class="fa fa-pencil"><label class="col-sm-2 col-form-label" for="icon_prefix">Author</label></i>
						<div class="row">
							<input id="author" name="author" type="text" value="{{session['username']}}">
                        </div>
					</div>
				</div>
				<div class='col-xs-12 col-md-4 col-sm-2 gray-l'>
					<div class="form-group">
						<i class="fa fa-spoon"><label class="col-sm-6 col-form-label" for="icon_prefix">Equipment</label></i>
						<div class="input-field col-xs-12">
							<div class="row">
								<textarea class="form-control col-xs-10" id="equipment_needed" rows="3" name="equipment_needed" type="text" placeholder="Example - weighing scales, whisk, loaf tin, mixing bowl" autocomplete="off"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class='col-xs-12 col-md-4 col-sm-2 gray'>
					<div class="form-group">
						<i class="fa fa-shopping-basket"><label class="col-sm-2 col-form-label" for="icon_prefix">Ingredients</label></i>
						<div class="input-field col-xs-12">
							<div class="row">
								<textarea class="form-control col-xs-10" name="ingredients" rows="3" id="ingredients" placeholder="List ingredients here (including measurements). Example - 200g of plain flour"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class='col-xs-12 col-md-4 col-sm-2 gray-l'>
					<div class="form-group">
						<div class="input-field">
							<i class="fa fa-wrench"><label class="col-sm-2 col-form-label" for="icon_prefix">Method</label></i>
							<textarea class="form-control col-xs-12" id="method" name="method" rows="3" type="text" placeholder="Explain method for baking your dessert here"></textarea>
						</div>
					</div>
				</div>
				<div class='col-xs-12 col-md-4 col-sm-2 gray'>
					<div class="row">
						<span class="dietary-info">
                            <i class="fa fa-exclamation-triangle"></i>
                            <label class="col-sm-2 col-form-label">Dietary Information</label>
                        </span>
					</div>
					<div class="row">
						<div class="switch form-check form-check-inline">
							<input class="form-check-input" id="contains_nuts" name="contains_nuts" type="checkbox">
							<label class="form-check-label" for="contains_nuts">
                               Tick this box if this recipe contain nuts?
                            </label>
						</div>
						<div class="switch form-check form-check-inline">
							<input class="form-check-input" id="gluten_free" name="gluten_free" type="checkbox">
							<label class="form-check-label" for="gluten_free">
                                Tick this box if this recipe contain gluten?
                            </label>
						</div>
						<div class="switch form-check form-check-inline">
							<input class="form-check-input" id="vegan_friendly" name="vegan_friendly" type="checkbox">
							<label class="form-check-label" for="vegan_friendly">
                                Tick this box if this recipe is vegan-friendly?
                            </label>
						</div>
                    </div>
				</div>						
				<div class='col-xs-12 col-md-4 col-sm-2 gray-l'>
					<div class="form-group">
						<div class="input-field col s12 m12">
							<i class="fa fa-photo"><label class="col-sm-2 col-form-label" for="icon_prefix">Image URL</label></i>
							<input id="img_url" name="img_url" type="text" placeholder="Paste url for image here">
				        </div>
					</div>
				</div>
				<div class='col-xs-12 col-md-4 col-sm-2 gray'>
					<div class="row submit-recipe-button">
						<i class="fa fa-check-circle"></i>
                        <button>
						    <a href="{{ url_for('insert_recipe') }}"
						    class="btn waves-effect waves-light btn-success">Submit Recipe</a>
                        </button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

{% endblock %}