{% extends 'base.html' %} 
{% block content %}
{% block title %}<h3 align="center">Editing {{ recipe.recipe_name }}</h3> {% endblock %}
<div class="container-fluid">
	<div class="row">
		<div class="form-left col-md-6">
			<div class="row">
				<form action="{{ url_for('update_recipe', dessert_id=dessert._id)}}" method="POST" class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">assignment</i>
							<input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}">
							<label for="icon_prefix">Recipe Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">subject</i>
							<textarea name="recipe_description" id="recipe_description" class="materialize-textarea">{{recipe.recipe_description}}</textarea>
							<label for="icon_telephone">Recipe Description</label>
						</div>
					</div>					
					<div class="row">
						<span><em>Dietary Information</em></span>
						<br>
                        <br>
						<div class="switch">
							<label>
                                {% if recipe.contains_nuts %}
                                    <input id="contains_nuts" name="contains_nuts" type="checkbox" checked>
                                {% else %}
                                    <input id="contains_nuts" name="contains_nuts" type="checkbox">
                                {% endif %}
                                <span class="lever"></span>
                                Nuts?
                            </label>
						</div>
						<div class="switch">
							<label>
                                {% if recipe.gluten_free %}
                                    <input id="gluten_free" name="gluten_free" type="checkbox" checked>
                                {% else %}
                                    <input id="gluten_free" name="gluten_free" type="checkbox">
                                {% endif %}
                                 <span class="lever"></span>
                                Gluten?
                           </label>
						</div>
						<div class="switch">
							<label>
                                {% if recipe.vegan_friendly %}
                                    <input id="vegan_friendly" name="vegan_friendly" type="checkbox" checked>
                                {% else %}
                                    <input id="vegan_friendly" name="vegan_friendly" type="checkbox">
                                {% endif %}
                                <span class="lever"></span>
                                Vegan-friendly?
                            </label>
						</div>						
					</div>
                    <div class="row">
                        <div class="col s6">
			                <a href="{{ url_for('delete_recipe', dessert_id=recipe._id) }}" class="btn waves-effect waves-light deep-orange darken-4"><i class="material-icons left">delete</i>Delete Recipe</a> 
                        </div>
                    </div>
				</form>
			</div>
		</div>
		<div class="form-right col-md-6">
			<div class="row">
				<form action="{{ url_for('update_recipe', dessert_id=dessert._id)}} " method="POST" class="col s12">
                    <div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">local_dining</i>
							<input id="equipment_needed" name="equipment_needed" type="text" autocomplete="off" value="{{recipe.equipment_needed}}">
							<label for="icon_prefix">Equipment Needed</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">list</i>
							<textarea name="ingredients" id="ingredients" class="materialize-textarea"><{{recipe.ingredients}}</textarea>
							<label for="icon_telephone">Ingredients</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">timer</i>
							<textarea id="method" name="method" type="text" class="materialize-textarea">{{recipe.method}}</textarea>
							<label for="icon_prefix">Method</label>
						</div>
					</div>
					<!--Unit of Measurements Options<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">poll</i>
							<select id="uom" name="unit_of_measurement">
                                <option value="" disabled selected>Choose your unit of measurement</option>
                                {% for uom in units_of_measurement %}
                                <option value="{{uom.uom_name}}">{{uom.uom_name}}</option>
                                {% endfor %}
                            </select>
							<label>Unit of Measurement</label>
						</div>
					</div>-->
					<br>
                    <button class="btn waves-effect waves-light green darken-1" type="submit" name="action">Submit Edits
                            <i class="material-icons right">send</i>
                    </button>
                </form>
			</div>
		</div>		
    </div>
</div>

{% endblock %}