{% extends 'base.html' %} {% block content %}

<!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Kitchen Essentials</h1>
      <p class="lead">Buy kitchen essentials here</p>
      <a href="https://www.dunnesstores.com/c/home/our-brands/cook-with-neven-maguire/utensils-and-gadgets" target="_blank" class="btn btn-primary btn-lg">Take Me Shopping</a>
    </header>
    {% for item in equipment %}
    <!-- Page Features -->
    
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{item.img_src}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{item.item_name}}</h4>
            <p class="card-text">Need to add pictures to MongoDB</p>
          </div>
          <div class="card-footer">
            <a href="{{item.item_url}}" class="btn btn-primary">Buy Now!</a>
          </div>
        </div>
      </div>      
        {% endfor %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}