{% extends 'base.html' %} {% block content %}
<h1>Just Desserts</h1>
<!-- Page Content -->
    <div class="center">
        <div class="container">
        <!-- Jumbotron Header -->
	    <header class="jumbotron my-4">
		    <h2 class="display-3 equipment-header">Kitchen Essentials</h2>
			    <p class="lead">Buy kitchen essentials here</p>
			    <img src="../static/img/neven-logo.png" class="card-img-top brand-img">
			    <a href="https://www.dunnesstores.com/c/home/our-brands/cook-with-neven-maguire/utensils-and-gadgets"
				target="_blank" class="btn home-button btn-lg">Take Me Shopping</a>
	    </header>
        </div>	
	<!-- Page Features -->
	{% include 'partials/shopcard.html' %}
    {% include 'partials/pagination.html' %}
    </div>
</div>

{% endblock %}