    <!-- Jumbotron Header -->
    <div class="masthead-image"> 
        <header class="jumbotron" style="background-color: transparent">
            <h1>Just Desserts<i class="fa fa-utensil-spoon"></i></h1>
            <p class="lead">A place for all your sweet treats -
             share your own and see what everyone else is sharing!</p>
            <a href="{{ url_for('add_recipe')}}" class="btn btn-primary btn-lg">Add My Recipe</a>
        </header>
    </div>
    
    {% extends 'base.html' %} {% block content %}
  <!-- Page Content -->
  <div class="container full-width">   

    
    <!-- Page Features -->
    <div class="row text-center">
        {% for dessert in recipes %}
            <div class="col-xs-12 col-lg-4 col-md-6 mb-4">
        <div class="card h-100" style="width: 14rem;">
          <img class="card-img-top" src="{{dessert.img_url}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{dessert.recipe_name}}</h4>
            <p class="card-text">{{dessert.recipe_description}}</p>
            <footer>Recipe submitted by <em>{{dessert.author}}</em> on {{dessert.date_submitted}}</footer>					
          </div>
          <div class="card-footer">            
                <a href="{{ url_for('view_recipe', dessert_id=dessert._id)}}"
						class="waves-effect waves">
                    <button type="button" class="btn btn-primary btn-lg">
                        <i class="fa fa-eye"></i>
                        View                        
                    </button>                        
                </a>              
          </div>
        </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->
    
  </div>
  <!-- /.container -->

  {% endblock %}