{% extends 'base.html' %} {% block content %}
    
    {% for dessert in recipes %}
      <h1>  {{dessert.recipe_name}}</h1> 
      <br>
        <h3>{{dessert.recipe_description}}</h3>
        {{dessert.date_submitted}}
        {{dessert.contains_nuts}}
        {{dessert.gluten_free}}
        {{dessert.vegan_friendly}}
    {% endfor %}
     <ul class="collapsible">
     <li>
      <div class="collapsible-header"><i class="material-icons">warning</i>Dietary Information</div>
      <div class="collapsible-body">
      <div class="col-md-12">
      <span>Contains Nuts</span></div>
      <div class="col-md-12">
      <span>Gluten Free</span></div>
      <div class="col-md-12">
      <span>Vegan Friendly</span></div>
      </div>
    </li>
    
    <li>
      <div class="collapsible-header"><i class="material-icons">local_dining</i>Equipment Needed</div>
      <div class="collapsible-body"><span>Equipment required will feature here including links to purchase from Neven Maguire's range</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">list</i>Ingredients</div>
      <div class="collapsible-body"><span>Ingredients to appear here</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">timer</i>Method</div>
      <div class="collapsible-body"><span>Instructions for how to cook/bake will be here</span></div>
    </li>
  </ul>
{% endblock %}