{% extends 'base.html' %} {% block content %}
<h1 align="center">Just Desserts</h1>


<div class="container full-width">
	<div class="row text-center">
        {% for dessert in recipes %}
		<div class="recipe-container col-xs-12 col-lg-4 col-md-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{dessert.img_url}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{dessert.recipe_name}}</h4>
                    <p class="card-text">{{dessert.recipe_description}}</p>
                    <footer>Recipe submitted by <em>{{dessert.author}}</em></footer>					
                </div>
                <div class="card-footer">            
                    <a href="{{ url_for('view_recipe', dessert_id=dessert._id)}}"
						class="waves-effect waves">
                        <button type="button" class="btn btn-primary btn-lg">
                        <i class="fa fa-eye"></i>
                        View                        
                        </button>                        
                    </a>              
                </div>
            </div>
        </div>
        <div class="row">
        <!--Empty row to fix styling issue in which Bootstrap grid system was not displaying correctly-->
        </div>     
        {% endfor %}
        {% if total > 1 %}              #Ignore pagination if you get no results
        {{ pagination.info }}
        <div class="center">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>  
        {% endif %}     
        {{ pagination.links }}
              
	</div>
</div>




{% endblock %}