{% extends 'base.html' %} 
{% block content %}
{% block title %}<h3 align="center">{{ recipe.recipe_name }}</h3> {% endblock %}
<ul class="collapsible">
    <div class="container">
        <img src="{{recipe.img_url}}" class="recipe-img" style="width:90%" alt="...">
    </div>
	
	<h1> {{dessert.recipe_name}}</h1>
	<br>
    <a href="whatsapp://send?text=Check out this recipe from Just Desserts!" data-action="share/whatsapp/share"><i class="material-icons">share</i>Share via Whatsapp</a>
    <!--<i class="fab fa-whatsapp"></i>-->
    <br>
	<h3>{{dessert.recipe_description}}</h3>
	Recipe submitted by <em>{{recipe.author}}</em> on {{recipe.date_submitted}}    
	<li>
		<div class="col s6">
			<a href="{{ url_for('edit_recipe', dessert_id=recipe._id)}}" class="waves-effect waves-light btn btn-small-b"><i class="material-icons left">edit</i>Edit</a>
		</div>
		
		<div class="collapsible-header"><i class="material-icons">warning</i>Dietary Information</div>
		<div class="collapsible-body">
			<div class="col s4">
				<span>Contains Nuts</span> - {{recipe.contains_nuts}}</div>
			<div class="col s4">
				<span>Gluten Free</span> - {{recipe.gluten_free}}</div>
			<div class="col s4">
				<span>Vegan Friendly</span> - {{recipe.vegan_friendly}}</div>
		</div>
	</li>
	

	<li>
		<div class="collapsible-header"><i class="material-icons">local_dining</i>Equipment Needed</div>
		<div class="collapsible-body">
			<span>{{recipe.equipment_needed}}</span>
		</div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">list</i>Ingredients</div>
		<div class="collapsible-body"><span>{{recipe.ingredients}}</span></div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">timer</i>Method</div>
		<div class="collapsible-body"><span>{{recipe.method}}</span></div>
	</li>
    
</ul>

{% endblock %}